services:
  plex:
    image: linuxserver/plex:1.42.2.10156-f737b826c-ls284
    container_name: plex
    network_mode: host
    environment:
      - PUID=1026
      - PGID=65537
      - VERSION=docker
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /mnt/volume1/plex/config:/config
      # tv
      - /mnt/share/videos/tv:/tv
      - /mnt/video-archive:/video-archive2
      - /mnt/share2/tv:/video-archive
      - /mnt/dvr:/dvr
      # movies
      - /mnt/share/videos/movies:/movies
      # music
      - /mnt/share/music:/music
      - /mnt/share/music-games:/music-games
      - /mnt/share/videos/music:/videos-music
      # audiobooks
      - /mnt/share2/audiobooks:/audiobooks
    restart: unless-stopped
