version: "3.8"

services:
  valheimer:
    image: lloesche/valheim-server
    container_name: valheimer
    restart: always
    cap_add:
      - SYS_NICE
    stop_grace_period: 120s
    ports:
      - "22456-22457:2456-2457/udp"
      - "9001:80"
    volumes:
      - "${HOME}/valheimer/config:/config"
      - "${HOME}/valheimer/data:/opt/valheim"
    environment:
      SERVER_NAME: "BrutalKhaos"
      STATUS_HTTP: "true"
      WORLD_NAME: "Valhammer"
      SERVER_PASS: "${SERVER_PASS}"