name: Deploy with Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Ansible Playbook
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          using: node20
      - name: Run Ansible Playbook
        env:
          VALHEIM_PASS: ${{ secrets.VALHEIM_PASS }}
        run: |
          # Run the playbook; the playbook will read VALHEIM_PASS from the environment if needed.
          ansible-playbook -i hosts.yaml playbook.yaml
        shell: bash
